<div id="TableBody">
			<p style="float:right;font-size:100%;"><a routerLink="/mainMenu">Return to Main Menu</a></p><br>
			<p id="itemHeading">Fish</p>
			<table>
				  <tr>
					<th>Product ID</th>
					<th>Name</th>
				  </tr>
				  <tr>
					<td><a href="Angelfish.html">FI-SW-01</a></td>
					<td>Angelfish</td>
				  </tr>
				  <tr>
					<td><a href="">FI-SW-02</a></td>
					<td>Tiger Shark</td>
				  </tr>	
				  <tr>
					<td><a href="">FI-FW-01</a></td>
					<td>Koi</td>
				  </tr>
				  <tr>
					<td><a href="">FI-FW-02</a></td>
					<td>Goldfish</td>
				  </tr>
				 
			</table>
</div>