<div id="header">
    <a routerLink="/mainMenu"><img id="LogoImg" src="assets/LOGO.PNG"></a>
    <div id="navbar">
        <ul>

            <li><a href="Cart.html">Cart</a></li>
            <li><a href="LogIn.html">Sign In</a></li>
            <li><a href="">About</a></li>	
            <li>
                    <input id="searchBar" type="text" name="" size="30">
                    <button id="searchButton">Search</button>	
            </li>
        </ul>
    </div>
</div>
<div id="menubar">
    <ul>
        <li><a routerLink="/fish">Fish |</a></li>
        <li><a routerLink="/dogs">Dogs |</a></li>
        <li><a routerLink="/reptile">Reptiles |</a></li>	
        <li><a href="Cats.html">Cats |</a></li>
        <li><a href="Birds.html">Birds |</a></li>
    </ul>
</div>