#TableBody{
	background-color:white;
	margin:10px;
	margin-top:0px;
	padding:10px;
}

#itemHeading{
	 margin-left:35%;
	 font-weight: bold;
	 font-size: 150%;
}

/*=========Table section=========*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 20%;
  margin-left:35%;
  
}

td, th {
  border: 3px solid white;
  text-align: left;
  padding: 1.5%;
}

tr{
  background-color: #dddddd;
}

#tableDetails {
  width: 40%;
}

a{
	text-decoration: none;
	color: black;
}