		<div class="row">
		  <div class="mainMenuDiv1">
			<h3 id= "mainMenuSidebar"><a routerLink="/fish">Fish</a></h3>
			<p id ="mainMenuSidebarDesc">Saltwater, Freshwater</p>		
			<h3 id= "mainMenuSidebar"><a routerLink="/dogs">Dogs</a></h3>
			<p id ="mainMenuSidebarDesc">Various Breeds</p>
			<h3 id= "mainMenuSidebar"><a href="Cats.html">Cats</a></h3>
			<p id ="mainMenuSidebarDesc">Various Breeds, Exotic Varieties</p>
			<h3 id="mainMenuSidebar"><a href="Reptiles.html">Reptiles</a></h3>
			<p id ="mainMenuSidebarDesc">Lizards, Turtles, Snakes</p>
			<h3 id= "mainMenuSidebar"><a href="Birds.html">Birds</a></h3>
			<p id ="mainMenuSidebarDesc">Exotic Varieties</p>
	
		  </div>
		  <div class="mainMenuDiv2">
            <a routerLink="mainMenu"><img id ="MainMenuImg" src="assets/MainMenuImg.PNG"></a>
		  </div>
		</div>